@using CarsOwner.Resource
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*<link href="~/Content/Site.css" type="text/css" rel="stylesheet"/>*@
    @*<link rel="stylesheet" href="~/Scripts/jquery-1.10.2.js">*@
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @*<script src="~/Scripts/jquery-ui-1.8.24.min.js" type="text/javascript"></script>*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div class="title">
                <span><img class="logo-img" src="~/Content/logo1.png" alt="logo" /></span>
                Ко вниманию автовладельцам
            </div>
        </div>

        <div id="categories" class="list-group">
            @Html.ActionLink(ConstantNames.MainPage, "Index", "Home", null, new {@class="list-group-item"})
            @Html.ActionLink(ConstantNames.ListOwners, "ListOwner", "Home", null, new { @class = "list-group-item" })
            @Html.ActionLink(ConstantNames.ListCars, "CarsList", "Car", null, new { @class = "list-group-item" })
        </div>

        <div id="content">
            @RenderBody()
        </div>

        <div id="footer">
            
        </div>
    </div>
</body>

</html>
@*<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>*@
