@model CarsOwner.Models.CarListViewModel
@using CarsOwner.Helper
@using CarsOwner.Resource


<div class="row">
    @foreach (var car in Model.CarsList)
    {
        <div class="col-sm-6 col-md-4 box-view-car">
            <div class="thumbnail">
                <div class="img-description">
                    @if (car.DescriptionCar.ImageData != null)
                    {
                        <img src="@Url.Action("GetImage", "Car", new {id = car.IdCar})"/>
                    }
                    else
                    {
                        <img data-src="holder.js/300x200" alt="...">

                    }
                </div>
                <div class="caption">
                    <h3 class="title-content">
                        <a href="@Url.Action("CarView", "Car", new {id = car.IdCar})" class="btn-link">@car.Model @car.СarMake</a>
                    </h3>
                    <p>@ConstantNames.TypeCars - @Html.EnumDisplayName(@car.TypeCar)</p>
                    <p>@ConstantNames.YearRelease - @car.YearRelease</p>
                    <p>@ConstantNames.PriceCar - @car.Price$</p>
                    <p>
                        <a href=@Url.Action("CarView", "Car", new {id = car.IdCar}) class="btn btn-primary" role="button">@ConstantNames.ReadMore</a>
                        @*<a href="#" class="btn btn-default" role="button">Кнопка</a>*@
                    </p>
                </div>
            </div>
        </div>

        @*if(Model.CarsList.Count()/3 == 0)
        {
            </div>
            <div class="row">
        }*@
    }
</div>
<div class="btn-group pagination">
    @Html.PageLink(Model.PageInfo, x => Url.Action(MethodName.Index, new { page = x, pageSize = Model.PageInfo.PageSize }))
</div>
